body {
    background: red;
    user-select: none;
    -webkit-user-select: none;
}

#listaPytan {
    display: none;
    z-index: 1;
    position: relative;
    margin-top: 20px;
    color: black;
    min-width: 50%;
    overflow-x: auto;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

#zadaj {
    position: fixed;
    top:0;
    right: 0;
    width: 200px;
    z-index: 3;
    background: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#x {
    position:sticky;
    background: white;
    z-index: 2;
    text-align: right;
    width: calc(100% - 15px);
    top: 0;
    padding: 5px;
    color: black;
    font-size:30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}


#pytania {
    padding: 20px;
}

button {
    font-size: 30px;
}